<% layout('/layouts/default.html', {title: '商标信息', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> 商标信息
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${eLogoInfo}" action="${ctx}/e/eLogoInfo/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">基本信息</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 企业名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ename" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商标名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="elogoname" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商标图片：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="elogopicture" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商标状态：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="elogostatus" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 申请时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="elogoapplicationdate" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 注册号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="elogoregistrationid" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商标类型：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="elogotype" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 详情网址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="elogodetailweb" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('e:eLogoInfo:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> 关 闭</button>
					</div>
				</div>
			</div>
		</#form:form>
	<div id="logo-panel" style="height:400px"></div>
	</div>
</div>
<% } %>
<script>
var elogoname = $("#elogoname").val();
var elogopicture = $("#elogopicture").val();
var elogostatus = $("#elogostatus").val();
var elogoapplicationdate = $("#elogoapplicationdate").val();
var elogoregistrationid = $("#elogoregistrationid").val();
var elogotype = $("#elogotype").val();
var elogodetailweb = $("#elogodetailweb").val();
var myChart = echarts.init(document.getElementById("logo-panel"));
var option = {
    tooltip: {
        show: false
    },
    legend: {
        x: "center",
        data: ["商标图片", "商标状态","申请时间", "注册号", "商标类型"]
    },
    animation: false,
    series: [{
        categories: [{
            name: '商标图片',
            itemStyle: {
                normal: {
                    color: "#009800",
                }
            }
        }, {
            name: '商标状态',
            itemStyle: {
                normal: {
                    color: "#4592FF",
                }
            }
        }],
        type: 'graph',
        layout: 'force',
        symbol: "circle",
        symbolSize: 50,
        roam: true, //禁止用鼠标滚轮缩小放大效果
        edgeSymbol: ['circle', 'arrow'],
        edgeSymbolSize: [0, 10],
        // 连接线上的文字
        focusNodeAdjacency: true, //划过只显示对应关系
        edgeLabel: {
            normal: {
                show: true,
                textStyle: {
                    fontSize: 20
                },
                formatter: "{c}"
            }
        },
        categories: [{
            name: '商标图片',
            itemStyle: {
                normal: {
                    color: "#009800",
                }
            }
        }, {
            name: '商标状态',
            itemStyle: {
                normal: {
                    color: "#009800",
                }
            }
        }],
        lineStyle: {
            normal: {
                opacity: 1,
                width: 2,
                curveness: 0
            }
        },
        // 圆圈内的文字
        label: {
            normal: {
                show: true
            }
        },
        force: {
            repulsion: 5000
        },
        data: [{
            name: elogoname,
            symbol: '',
            itemStyle: {
                normal: {
                    color: '#f90', //圆点的颜色
                    label: {
                        position: 'bottom',
                        textStyle: {
                            color: '#f90'
                        }
                    }
                }
            },

        }, {
            name: elogopicture,
            category: 1,
            itemStyle: {
                normal: {
                    color: '#090',
                },
                emphasis: {
                    color: "#000"
                }
            }
        }, {
            name: elogostatus,
            category: 1,
            draggable: true,
        }, {
            name: elogoapplicationdate,
            category: 0,
            draggable: true,
        }, {
            name: elogoregistrationid,
            category: 0,
            draggable: true,
        }, {
            name: elogotype,
            category: 0,
            draggable: true,
        }],
        links: [{
            source: elogoname,
            target: elogopicture,
            value: "商标图片",
            lineStyle: {
                normal: {
                    color: '#38f',
                    curveness: 0 // 线的弯曲度 0-1之间 越大则歪曲度更大
                }
            },
            label: {
                normal: {
                    textStyle: {
                        color: '#07ac72'
                    }
                }
            }
        }, {
            source: elogoname,
            target: elogostatus,
            value: "商标状态"
        }, {
            source: elogoname,
            target: elogoapplicationdate,
            value: "申请时间"
        }, {
            source: elogoname,
            target: elogoregistrationid,
            value: "注册号"
        }, {
            source: elogoname,
            target: elogotype,
            value: "商标类型"
        }, ]
    }]
};
myChart.setOption(option);
//关系图
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>