<% layout('/layouts/default.html', {title: '发起人/股东信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> 发起人/股东信息管理
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
				<% if(hasPermi('e:eSponsors:edit')){ %>
					<a href="${ctx}/e/eSponsors/form" class="btn btn-default btnTool" title="新增发起人/股东信息"><i class="fa fa-plus"></i> 新增</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${eSponsors}" action="${ctx}/e/eSponsors/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">企业名称：</label>
					<div class="control-inline">
						<#form:input path="ename" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">发起人/股东类型：</label>
					<div class="control-inline">
						<#form:input path="esponsorstype" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">发起人名称：</label>
					<div class="control-inline">
						<#form:input path="esponsorsname" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">认缴出资：</label>
					<div class="control-inline">
						<#form:input path="esubscribedcapital" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">实际出资：</label>
					<div class="control-inline">
						<#form:input path="eactualcapital" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<button onclick="test()">画像展示</button>
			<div id="chart-panel" style="width:800px;height:600px"></div>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'企业名称', name:'ename', index:'a.ename', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/e/eSponsors/form?id='+row.id+'" class="btnList" data-title="编辑发起人/股东信息">'+(val||row.id)+'</a>';
		}},
		{header:'发起人/股东类型', name:'esponsorstype', index:'a.esponsorstype', width:150, align:"left"},
		{header:'发起人名称', name:'esponsorsname', index:'a.esponsorsname', width:150, align:"left"},
		{header:'认缴出资', name:'esubscribedcapital', index:'a.esubscribedcapital', width:150, align:"left"},
		{header:'实际出资', name:'eactualcapital', index:'a.eactualcapital', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('e:eSponsors:edit')){ %>
				actions.push('<a href="${ctx}/e/eSponsors/form?id='+row.id+'" class="btnList" title="编辑发起人/股东信息"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/e/eSponsors/delete?id='+row.id+'" class="btnList" title="删除发起人/股东信息" data-confirm="确认要删除该发起人/股东信息吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
//获取当前表格的所有数据
function test(){
	var obj = $("#dataGrid");
	//var idd=$("#dataGrid").getDataIDs();
	var rowIds=$("#dataGrid").jqGrid('getDataIDs');
	var arrayData = new Array();
	if (rowIds.length > 0) {
		
		for (var i = 0; i < rowIds.length; i++) {
			
			  //rowData=obj.getRowData(rowid);//这里rowid=rowIds[i];
			  arrayData.push(obj.getRowData(rowIds[i]));
			  //alert(arrayData[i].estockholdername+arrayData[i].estockholdernumberofshares);
			  
		}
	};

var myChart = echarts.init(document.getElementById("chart-panel"));
//app.title = '环形图';

option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    series: [
        {
            name:'股东信息',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:(function(){
                var arrNum = [];
                
                for (var i = 0; i < arrayData.length; i++) {
                      arrNum.push({"value": arrayData[i].esubscribedcapital,"name":arrayData[i].esponsorsname});
                      }
                       
                return arrNum; 
               })(),
        }
    ]
};
myChart.setOption(option);

} 
//关系图
</script>