<% layout('/layouts/default.html', {title: '实时股价管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${eStockRealtimePrice.isNewRecord ? '新增实时股价' : '编辑实时股价'}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${eStockRealtimePrice}" action="${ctx}/e/eStockRealtimePrice/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">基本信息</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 企业名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">

								<#form:hidden path="isNewRecord"/>
								<#form:input path="ename" maxlength="255" readonly="${!eStockRealtimePrice.isNewRecord}" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 总市值：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockmarketvalue" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 市净率：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockpb" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 总股本：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockequity" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 净利润：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stocknetmargin" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 流通市值：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stocktradedmarketvalue" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 每股收益：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockearningspershare" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 流通股本：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockflowofequity" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 营业收入：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockoperatingincom" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 市盈率：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockpriceearningsratio" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stockvocation" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('e:eStockRealtimePrice:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> 关 闭</button>
					</div>
				</div>
			</div>
		</#form:form>
		<div id="main" style="height:400px"></div>
		<div id="main2" style="height:400px"></div>
		<div id="chart-panel" style="height:400px"></div>
	</div>
</div>
<% } %>
<script>
var stockmarketvalue = $("#stockmarketvalue").val();
stockmarketvalue = stockmarketvalue.substring(0, stockmarketvalue.lastIndexOf('亿'));
var stockequity = $("#stockequity").val();
stockequity = stockequity.substr(0, stockequity.lastIndexOf('亿'));
var stocktradedmarketvalue = $("#stocktradedmarketvalue").val();
stocktradedmarketvalue = stocktradedmarketvalue.substr(0, stocktradedmarketvalue.lastIndexOf('亿'));
var stocknetmargin = $("#stocknetmargin").val();
stocknetmargin = stocknetmargin.substr(0, stocknetmargin.lastIndexOf('亿'));
var stockflowofequity = $("#stockflowofequity").val();
stockflowofequity = stockflowofequity.substr(0, stockflowofequity.lastIndexOf('亿'));
var stockoperatingincom = $("#stockoperatingincom").val();
stockoperatingincom = stockoperatingincom.substr(0, stockoperatingincom.lastIndexOf('亿'));
var stockpb = $("#stockpb").val();
var stockpriceearningsratio = $("#stockpriceearningsratio").val();
var stockearningspershare = $("#stockearningspershare").val();

//alert(aaa);
var myChart = echarts.init(document.getElementById("main"));

var option={
        tooltip:{
            show:true
        },
        legend:{
            data:["实时股价（单位：亿）"]
        },
        xAxis:[{
            type:'category',//默认为类目
            data : ["总市值","总股本","流通市值","净利润","流通股本","营业收入"]
        }],
        yAxis : [
            {
                type : 'value'//默认为值类型
            }
        ],
        
        series : [
            {
            	
                "name":"实时股价（单位：亿）",
                "type":"bar",
                "data":[stockmarketvalue, stockequity, stocktradedmarketvalue, stocknetmargin, stockflowofequity, stockoperatingincom]
            }
        ]

    };
myChart.setOption(option);
    
var myChart = echarts.init(document.getElementById("main2"));

var option={
        tooltip:{
            show:true
        },
        legend:{
            data:["实时股价（单位：1）"]
        },
        xAxis:[{
            type:'category',//默认为类目
            data : ["市净率","市盈率","每股收益"]
        }],
        yAxis : [
            {
                type : 'value'//默认为值类型
            }
        ],
        
        series : [
            {
            	
                "name":"实时股价（单位：1）",
                "type":"bar",
                "data":[stockpb, stockpriceearningsratio,stockearningspershare]
            }
        ]

    };
myChart.setOption(option);
//关系图
/* var dom = document.getElementById('chart-panel');
dom.style.width = 780 + 'px';
dom.style.height = 600 + 'px'; */
var myChart = echarts.init(document.getElementById("chart-panel"));
var option = {
    tooltip: {
        show: false
    },
    legend: {
        x: "center",
        data: ["家人", "朋友"]
    },
    animation: false,
    series: [{
        categories: [{
            name: '家人',
            itemStyle: {
                normal: {
                    color: "#009800",
                }
            }
        }, {
            name: '朋友',
            itemStyle: {
                normal: {
                    color: "#4592FF",
                }
            }
        }],
        type: 'graph',
        layout: 'force',
        symbol: "circle",
        symbolSize: 50,
        roam: true, //禁止用鼠标滚轮缩小放大效果
        edgeSymbol: ['circle', 'arrow'],
        edgeSymbolSize: [0, 10],
        // 连接线上的文字
        focusNodeAdjacency: true, //划过只显示对应关系
        edgeLabel: {
            normal: {
                show: true,
                textStyle: {
                    fontSize: 20
                },
                formatter: "{c}"
            }
        },
        categories: [{
            name: '家人',
            itemStyle: {
                normal: {
                    color: "#009800",
                }
            }
        }, {
            name: '朋友',
            itemStyle: {
                normal: {
                    color: "#4592FF",
                }
            }
        }],
        lineStyle: {
            normal: {
                opacity: 1,
                width: 2,
                curveness: 0
            }
        },
        // 圆圈内的文字
        label: {
            normal: {
                show: true
            }
        },
        force: {
            repulsion: 5000
        },
        data: [{
            name: '节点1',
            symbol: 'image://http://www.damndigital.com/wp-content/uploads/2010/12/steve-jobs.jpg',
            itemStyle: {
                normal: {
                    color: '#f90', //圆点的颜色
                    label: {
                        position: 'bottom',
                        textStyle: {
                            color: '#f90'
                        }
                    }
                }
            },

        }, {
            name: '节点2',
            category: 1,
            itemStyle: {
                normal: {
                    color: '#090',
                },
                emphasis: {
                    color: "#000"
                }
            }
        }, {
            name: '节点3',
            category: 1,
            draggable: true,
        }, {
            name: '节点4',
            category: 0,
            draggable: true,
        }, {
            name: '节点5',
            category: 0,
            draggable: true,
        }, {
            name: '节点6',
            category: 0,
            draggable: true,
        }],
        links: [{
            source: '节点1',
            target: '节点2',
            value: "朋友",
            lineStyle: {
                normal: {
                    color: '#38f',
                    curveness: 0 // 线的弯曲度 0-1之间 越大则歪曲度更大
                }
            },
            label: {
                normal: {
                    textStyle: {
                        color: '#07ac72'
                    }
                }
            }
        }, {
            source: '节点1',
            target: '节点3',
            value: "朋友"
        }, {
            source: '节点1',
            target: '节点4',
            value: "家人"
        }, {
            source: '节点1',
            target: '节点5',
            value: "家人"
        }, {
            source: '节点1',
            target: '节点6',
            value: "家人"
        }]
    }]
};
myChart.setOption(option);
//关系图


$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>